{% extends "error.html" %}
{% block title %} <title>Internal Server Error</title>{% endblock%}

{% block main %}
<div class="content" id="contentTwo" style="margin-top: 363px;">
                <h1>500</h1>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 message">
                        <p class="row">
                            </p><div class="col-xs-4">
                                <i class="fa fa-exclamation-triangle icon" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-8 noCenter text">
                                Internal Server Error,Try again later.. 
                            </div>
                        <p></p>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="down" id="down" style="margin-top: 188.2px;">
                    <i class="fa fa-home bounce animated" aria-hidden="true"></i>
                </div>
            </div>
{% endblock %}